.containerCategory .sectionTitle {
  flex-basis: 100%;
  flex-wrap: wrap;
}
.recipeCardCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 40px;
  background: whitesmoke;
  text-decoration: none;
}
.recipeCardCategory img {
  max-width: 240px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.recipeTitleCategoryTitle {
  color: black;
}
