.openRecipe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .openRecipeBackground {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .openRecipeBackgroundFront {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: -115px;
  }
  .openRecipeRightDetails{
    margin-left: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .openRecipeBootomDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .detaislCell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
  }
  .detailCellNumber {
    font-size: 30px;
    padding-left: 20px;
  }
  .serves {
    padding-right: 29px;
  }